<mat-card class="example-card">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Angular Material + .NET Core + SQLite Example</mat-card-title>
      <mat-card-subtitle>root4j <strong>GitHub</strong></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/angular.svg" alt="Angular Demo">
  <mat-card-content>
    <p>
      This is a template for public use. In this template you will find the basics componets to start your .NET Core 3.1 application with Angular 8. Angular 8 is used until Visual Studio supports version 9 in its SPA libraries.
    </p>
  </mat-card-content>
</mat-card>
